<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feedstyle.css">
</head>


    <body>
        <nav>
         <div class="logo">
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
             
         </div>
         
           
           <div class="searchbar"><input type="text" placeholder="Search"> </div>
         
         <ul class="navLink">
           <li><a href="/profile">Profile</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="/logout">Logout</a></li>
         </ul>
         <div class="lines">
             <div class="l1"></div>
             <div class="l2"></div>
             <div class="l3"></div>
         </div>
       </nav>
   
   <header>
    <h1></h1>
   </header> 
   
     
   <div class="container">
     <% if (posts && posts.length > 0) { %>
       <% posts.forEach(function(post) { %>
         <div class="box">
           <a href="/images/uploads/<%= post.image %>" target="_blank">
             <img src="/images/uploads/<%= post.image %>" alt="<%= post.imageText %>">
           </a>
           <div class="caption">
             <strong><%= post.user.username %></strong><br>
             <%= post.imageText %>
           </div>
         </div>
       <% }); %>
     <% } else { %>
       <div class="no-posts">
         <h2>No posts yet!</h2>
         <p>Be the first to share something amazing!</p>
         <a href="/profile" class="upload-btn">Upload a Post</a>
       </div>
     <% } %>
   
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   </body>
                     
   <script>
    const navSlide = () => {
		const lines = document.querySelector('.lines');
		const nav = document.querySelector('.navLink');
		
		lines.addEventListener('click',() => {
			nav.classList.toggle('nav-active');
			
		//Line Animation
		lines.classList.toggle('toggle');
		});
	   
	}
	
	navSlide();
   </script>

</html>